{% extends "core/base.html" %}

{% block content %}
<script type="text/javascript"> 
	var page = 'bio';
	mixpanel.track(page);
</script>
<div class="content-container">
{% if bio %}
	<div class="bio">
		<div class="text-image">
			<pre>:,:,,,,::::;................................sS;;:,.............,:,     ..,;Ssrrrs&AA&h9X2Sisrr;;::,,....... 

: .........:                                s2:,,                ..:;i53GG3i:;:: .HGh2i:.                   

:,:::::::,:;.............................. ,X3;::. ......,;rs59H#@#@#BHAG2X2r;rr  :&i:            ,:;ssXh&Ms

:,:::::::::;.............................   S2:::      :;:iX9h3h9Xisr;:,. r2i;i5:        ,:rs29&BB#@@@MAh2r:

:.,,::,,,,,;  ........................    .:3A&A&2sir:,;;.  .. ,:;         X5i52ri2X3hH######BA&35srr::.    

,.,,,,,:::;r. .....................   .rB@@@@@@@@@@@@@@@@@@A&hr,      ,:;riXr;;;r@@@@#M&92is;;,..           

:,;;;;;rr;;;. .................    .iM@@@@@@@@@@@@@@@@@@@@@@@@@@MX223&AMHHGr:;:r .BMA3i;,.              .,,.

;:;:::,,,,,:  ...............   ,SH@@@@@@@@@@@@@#B###MM#@@@@@@@@@@@#Ahi;;:ii;;ri.  5;.          .,,rSX999G3r

; ,,,,,,,,,;  ..............  ;B@@@@@@@@###@@@@#MM##@@##MM#@@@@B#@#HH9X;  :2r;sS,       .,;;rs55S252irr;::..

;.,:,,,,,,,;  ............  ;#@@@@@@#MMM#MBMMBAB#@#MMM@#B#HA@@@MA#MB#&iX;  ;;;sis9&A&&3255Ssr;;:..          

;.,,::::,,:;  ............ r@@@@#MHHHHB#@@@#MMBAB#@@##M#M@@HA@@BhAAB@&S29r.,,::;:H@BHGs:,,.               . 

;.,,,,,,,,::  ..........  r@@@@@#BMHM@@@@@@@@@@@MGAM###M@##@M##hhHHAB9XXXi;;, ,;  iXr,                    ..

; ,,,,,,,,:;  .........  s@@########@@@@@##M##@@@@HH##MB@@@@##AA##BA&GhAAir:, .:               ,,,::rsriiss;

:.::,,,,,,,:  ........ .&@@#BBBHB#####MBB######BB#BAH#HHBHHBMAB#MMHAAB##&92is,       .::;;rsSS5X3XXX22issr:,

: ,,.,,,,,:;  ........ r##HHHHAAHAAMMM##MMBBBHAAA&A&AA&h3XXXh&HHHB#####MB&222r  ,h##MBAhX22Ssrr;;;:,..      

:.:,:::::,,;  ........ :&G&AHMBHBM####HA&Ghhh&GGGhGGhh3h32SSSS529&H#####H93Xir:  r9GG3ir;;:,,.            . 

,.,,,.,.,,,:  .......  rAHB##@#@#MMHA&hh99GG9h99h9Xhh3h33XSiiiii52X&B#@M##B&Xsr,  ;2s;.                  .. 

. ,,,,,,,,,:  .......  ,B##@##@@AGhXX393h9993333939h9hh9322SiiiSSii53M@#AMH&92;:             ...,,,:::;::,:.

. ....,,.,,;  .......   hBAAH@@B3X5S2393333X33X22X3339XX225SSiiSSisriX#@M99h9is; ....,,,,,:;::::::,,,,..... 

,.,,,.... .:  .......   9&GA#@BX52SrSX22XX22X225222XX222225SSiiiiirrrrX#@#XS5s;r;XAAhXr;:,,...          ... 

,.,,,,,,,,,:  .......  :33BM@#9isSSriSS52222XXX22XXXXXXX2X2iSissiis;;;r&@#G5rrsr :XX5r,.          ......... 

. ,,,,,,:,,:  .......  r39###Bs;ris;i522X2222X22222XXXXX2X2Sisssiis;:;r2HAXSsShr  ,;.      . .    ......... 

.   ,,.,,..:  .......  .s&&M#&,:rirri22552252522222222XX225Sssssiir;;::s2X25siX;          ......,,.,,.,:,,, 

, .,,,,:::::. .......    rX&Bh.,rsriS225552S555552552225S5Sissssiisr;:,;iS5Sri2,.::;::,,,,..,..........  .. 

:,::,:,,,,,:  .......    ,ir9&;;rrsi55SSS5iS52252222222Siiiiissssisr;::,r2Ssrss.rG&hXr,.....   .  ..... ... 

:    ....,,:  ........    ,rhX,,;rii5SSSiS522XXXXXXX3932555XG&&95is;:;:.,2X25i.  ,sr:     ................. 

,.,,.. ....:  .........    ;32.,riii55SS52XX3X3399hG&BMB#@@@@@@MAh2r,,:,,i99Xi;:   .     ..    .   .......,.

:.,,,,,,,..:  .........    ,Xh ,sSXHHBMM##BH&GGhhG&&AAGGHBA&92isrrr;,,:,.rX2SX525      ..........,,,,,..,,,.

, ,,,,,,,,,:  ...........   i9,,rA@@@@@@@###HAGGGGX55X9hAMM###G2iisr;;;,,:Sir;,2@r:srr;,,,,,..........      

,     ....,:  ...........   ;3:.iGh933h&AHAA&GX222irs&H#@A@@@@iS223X2i;:,,r;r3sr#i;XS:.      . . . .. ..... 

,.,,,....  ,  ............ .rh;.::r&##@@@@@##AXiSSr;sA#@M&ABH&Xr;rS5Sir:,,;Sh95;A;.;.   . ........... .   . 

,.,,,,,,,,,:  ...........  ssS;.:rG2hGM@#MABBA9i22i;r2AAAh3555Siiiissr;:,.:XAG9;5     .  ..   ...........,, 

,.:,,,,,,,,:. ...........  ri;;.;Si..iSiS2999G2i52Sr;rri5222XX25Siisr;;:,.:,ShAi;    ..,...,,,.,,,,..,,,,,,.

, ,...,.   ,. ...........  .ss;.;rrssS22222552si55i;;;;;ri22255Sisisr;::. ,;9&3s,;Sir;,........    ..       

, ,,,,,,,,,,. ..... .....   :2; :;sS5iSSiiiiSiriSSs;;;;rsiiS5S5Sisrr;;:,  ,2s;5r ;rr;.        ............. 

. .,,,,,,,,,. ...........   .XS .;riiiSiiiiSSrrSiis;;;;iSrssiiiisrr;;::,..::,:r   ..     .................. 

.     .....: ............    r&: :riiSiSiiiSs;rSSisr;;rSGXissssrrrr;;;:,..i;:;          ................... 

,.,,.....  ,  ............   .i:.:rsiiiiSiiX9rriSSisrrss5MH3Ssrrrrrr;;:,,.si: ...,,,,......,..,............ 

,.,,,,,,,,,,  .............   :,.,;rissii5XAs;sii52Sr;:::9HAh2irr;;;;;;:,.  ..,,;iiir:........            . 

, ,,,,,,,,,,  .............    :;,:rsssS53Hs ,sS2X35r:;;s2X9&35ir;;;;;;:,.. .,,  ,;:.   .  ................ 

, ,,,,,,,,,:. .............    .:,::;s522392S22SXG5rriisiisi9AXsrr;:;;;:,,:..,,.                          . 

,.,,,,,,,,,:. ..............      ::;s22XXX2&MAGAh3GA&X2Ssr;r3H9rrr:;r;::,;: ,:        .........,......,,,, 

,.,,,,,,,,,,. ...............     ,::;sX&GX52X39h&AHAG32sr;:;s&Ai;r;;r:::,;;.,:,::::,..........,,,,........ 

, .........,. .................   .;,:rXAH2;;i29&AHA&ABAGX9@@@Ahir;;;;;:::r;:.. ,;;;.               .     . 

,.,,,,,,,,,,. ................ .   ,:,;s3HMM##BBAA2GXrirsS3@#XX2irr;rr;;:rsr;:,. ...,::;:..         .   ... 

,.,,:,,,,,,,. ..................    :::;529B@@AXi5rS2i2G&G2r;ri25rrrrrr;;Sssrr5h32iiXh52X25s,            .. 

, .,,,,,,..:. ...................   .;:;i2Srs5399&&HAAA9Ssr;;rsSSsrrrrrriSisri23XXX25ii5525X32iir;::,,..    

, ...,,,,..,. ....................    ;;r25sr;rsX9999hG9Xirrrrsiissrrrri25isiS55SSSiiS3X2iiS222X9hhh939X2Ss:

,.::,,::::,:. ....................     ;rrSSissi29&AG&A&35SSSisiisrrrsS3XSiiiii5isiii2X2iiSSS5555S522X399GGs

,.:::,,,,,,:. .....................     :rsSSSS223hG&A&GhX225iiiisssi2G92SiSiiiSiiii222ii55S55iiiiSS222255Ss

, .  .    .,. . ....................     .;i5SS55222225SSSSSisiiiii5hH92SSSSSiiiiiS222iiS555Sisii5522Sisssis

,.:,,,:,::::. .......................      rSiiiisrrrrrrrrssssSSS59AA35225SSSSiiS2XX2iS522iissS55555Sisissss

:.::::::::::. .........................    ,r5SSirrssiiiiSiiiS223AH&XX2X225SSii533X2SS2X2Sssi52225Siiiiiiisr

,.:,,,,,,,,:. ......................    .i2,.r252SS29G&h993X9G&AA&9399XXX22SS233X252X22SiiiS5222SSisiSissiSi

, ...,.. . ,. ..................    ..,;h&2s:,rS3&BBHHAHHHHHHBA&9939h3X3XX25Xh9X25X25SiiSSS522SSSiSSiiii522S

,.,,::,,,,,:. ............ .     .,;rr;2hSS2;,;;rs5GAAAHHAAA&93X33332X3X22Xh3XXXX25SiSsi52225SSSSSSiiii5555i

:,::::::::::. .......        .,:;;sisr;SSiSS;,:;rr;;sS2Xh9993XXX3393XX99hhG99X255iiiiS552225SS55SiiSS5SSSS5i

:,::::::::::. ...       .,,;;rrrrrssr;:rSSS22r:;;riiiS22XX933X333X9X9GA&h39X5SiiSiSS25222525S5SiiiSSiSSiS55i

,.::,:,,,,::.    .,::;;rssrrrr;;::;;;;::iX9GA9srrrriiS2XXXX993XXX39&&&h3X2iSSS522222222225SSSSSSSiiiiiSS22Si

:,:::::,::::.  .;riS222Siisrrrrrrr;;rrs;;iX9X3G35isriiiS222522X3h&&Gh322SS5222X22222225255SiSSiiSSiS2SS22Sii

:.:::::::::: .;iS222552SSiiiiiiiiisssrssr;r5X9GhXX2iS2222XXX239h999325S552X255252555S5S5SSSSiiiiSiiS2552ii2S

:.:::,,::,,:;s5X25SSiiiiSSS5SSSSSiSSiiiiissS5X3X93X33hGhh3X222XX33X222XXX25222552555SSSSissiiiiiSS2255SSi2XS

;.,,,,,::..;S2X2SisssssssiiiiiSSS5252X393993XX2X39393XX33X93993933XXXX225SSS55S55iSSSiSiiiSSS55S22225Si2222i

:.,,,:::::r22225SSiiiiisssssssiiiiiS5552223X339hhGhG&h9hG&&9hh99933X222iSiSiS5SSiiSiSiiiiiSSiS55S52SiS52Sisr

:.,,,,,::;992255555SS5SisssssisiisiissiiiiS5522XX2X933933393XX3332255S55SSSSS5iiiiSiiSiSS55SSSS5SSSSS55Ssrrs

:.,,,,.,:iG32X2X22X52255SiSSiiiiiiiiSSissiisiiS5SS22222XX2X3XX32X255SSS55SSSSSSSiiSi5S5555552255SSSSSSisssSi

:.,,,,,:r25555SiSSSSSiiSiiisissssssssssssssssiiiiSS555552525555SSiissssssssssssissssiiiiiiiiiiiiiissssrrrsii</pre>
		</div>
		<ul class="info">
			<li>
				<img src="https://d3fuw6vo22gqor.cloudfront.net/images/githubBlack.png"/>
				<a href="{{ bio.github }}" target="_blank">github.com/jfmyers</a>
			</li>
			<li>
				<img src="https://d3fuw6vo22gqor.cloudfront.net/images/linkedin.png"/>
				<a href="{{ bio.linkedin }}" target="_blank">linkedin.com/jfmyers</a>
			</li>
			<li>
				<i class="icon-envelope"></i>
				<a href="mailto:{{ bio.email }}">{{ bio.email }}</a>
			</li>
			<li>
				<img src="https://d3fuw6vo22gqor.cloudfront.net/images/codeSimple.png"/>
				<p>{{ bio.languages }}</p>
			</li>
			<li>
				<i class="icon-map-marker"></i>
				<p>{{ bio.city }}, {{ bio.state }}</p>
			</li>
		</ul>
		<p class="bioSummary">{% autoescape off %} {{ bio.about | linebreaksbr }} {% endautoescape %}</p>
	</div>
	
{% else %}
    <div>No bio is available.</div>			 
{% endif %}
</div>
{% endblock %}